* {
 margin: 0;
 padding: 0;   
}

.banner {
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img/bg.jpg);
background-size: cover;
background-position:center;

}

#logoId {

    width:90px;
    cursor: pointer;
    border: 3px solid rgb(98, 98, 209);
    border-radius: 50px;
    transition: .5s;
}

#logoId:hover{
    border: 3px solid rgb(44, 44, 201);
    transition: 1s;

}
.navbar {
width: 90%;
margin: auto;
padding: 20px 0;
display: flex;
align-items: center;
justify-content:space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
text-decoration: none;
color: aliceblue;
text-transform: uppercase;
font-family: sans-serif;
font-size: 15px;
transition: .8s;

}

.content{
color: aliceblue;
font-family: sans-serif;
position: absolute;
text-align: center;
top: 40%;
transform: translateY(-50%);
margin: 0 10%;
}
.content h1{
text-transform: uppercase;
font-size: 50px;
margin-top: 20px;
}

.content p {
margin-top: 20px;
font-weight: 300;

}
.row {
display: flex;
justify-content: center;
margin-top: 30px;
}

button{
width: 110px;
height: 42px;
background:transparent;
padding: 10px 0;
border-radius:20px;
margin: 0 10px;
border: 3px solid rgb(98, 98, 209);
color: aliceblue;
font-family: sans-serif;
cursor:pointer;
font-size: 12px;
text-align: center;
font-weight: 600;
transition: .4s;

}
button:hover{
border: 3px solid rgb(67, 230, 230);
transition: 1s;
color: aqua;
}
.navbar ul li a:hover{
color: aqua;
transition: .8s;

}
